.messages {
  height: 80vh;
  overflow-y: scroll;
  .date-message {
    display: grid;
    place-items: center;
  }
  ::-webkit-scrollbar {
    width: 0.25rem;
  }
}
.chat-info {
  height: 10vh;
}
.send-message-form {
  height: 9vh;
}
body,
html {
  overflow: hidden;
}
.messages::-webkit-scrollbar {
  width: 0.25rem;
}

.messages::-webkit-scrollbar-track {
  background: lightgrey;
}

.messages::-webkit-scrollbar-thumb {
  background: darkgray;
}
